body {
	font-family: Tahoma;
}

h2 {
	color: #939393;
}

b {
	color: #f2aba2;
}

a {
	color: #c65778;
	text-decoration: underline;
}

i {
	/*color: #e5c179;*/
	color: #cb94ce;
}

.styled-select {
	position: fixed;
	overflow: hidden;
	height: 25px;
	width: 100px;
	top: 25px;
}

#dropdown {
	right: 20px;
}

#dow-dropdown {
	right: 130px;
}

#map {
	width: 100%;
	left: 0;
	margin-top: 70px;
}

#og-button {
	position: fixed;
	bottom: 245px;
	right: 15px;
	height: 20px;
	z-index: 1100;
	font-size: 0.7em;
	padding: 2px;
	cursor: pointer; 
	cursor: hand; 
}

#overall-graph {
	position: fixed;
	bottom: 0px;
	right: 10px;
	z-index: 1000;
	height: 240px;
	width: 380px;
	border: solid #cccccc 1px;
	margin-bottom: 25px;
	background-color: white;
}

#nav-bar {
	position: fixed;
	overflow: hidden;
	background-color: white;
	z-index: 3000;
	width: 100%;
	top: 0;
	height:70px;
}

#description {
	color: #939393;
	z-index: 3000;
	left: 185px;
	top: 8px;
	position: fixed;
	/*width: 60%;*/
	width: 701px;
	font-size: .8em;
	border-left: solid #fcecba 5px;
	padding-left: 5px;
	text-align: justify;

}
