body {
	font-family: Tahoma;
}

.styled-select {
	height: 25px;
	overflow: hidden;
	width: 100px;
	position: absolute;
	top: 25px;
}

#dropdown {
	right: 20px;
}

#dow-dropdown {
	right: 130px;
}

#map {
	width: 100%;
	height: 1200px;
}

#overall_graph {
	position: fixed;
	bottom:0px;
	right:0px;
	z-index: 1000;
	height:240px;
	width: 380px;
}